@import 'normalize';

html {
  font-family: sans-serif;
  background-image: linear-gradient(rgb(245, 245, 220), #ba9ead);
  height: 100%;
}

.App {

  .wrapper {
    margin: 20px 10px;
    @media screen and (min-width: 580px) {
      margin: 20px auto;    
    }  
    max-width: 600px;
  
    .searchBox {
  
      .title {
        color: rgb(97, 81, 81);
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 15px;
      }
      
      input.new-task {
        height: 50px;
        border: 0;
        color: darken( white, 50);
        padding-left: 10px;
        width: 80%;
      }
      
      button.new-task-button {
        display: inline-block;
        text-decoration: none;
        background-color: #5FAAFF;
        color: white;
        height: 50px;
        border-radius: 5px;
        border-color: #5FAAFF;
        margin-left: 5px;
      }
    }
    
    .tasks {
      background-color: white;
      padding: 1rem;
      box-sizing: border-box;
      margin-top: 32px;
    
      ul {
        list-style: none;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 20px;
        padding-inline-end: 20px;
    
        li {
          height: 50px;
          border-bottom: 1px solid #5FAAFF;
          display: flex;
          flex-direction: column;
          justify-content: center;      
    
          &.lineBreak {
            height: 70px;
            margin-top: 20px;
            &::before {
              content: 'Done Todos...';
              font-size: 12px;
              opacity: 0.7;
              padding-bottom: 10px;
            }
          }

          .task {
            display: flex;

            svg {
              color: white;
              background-color: #FF494C;
              font-size: 10px;
              padding: 4px;
              margin-right: 7px;
            }
      
            input[type=checkbox] {
              margin-right: 4px;
            }
      
            span.todo-text {
              color: grey;
      
              &.stroke {
                color: #FF6466;
                text-decoration: line-through;
                opacity: 0.7;
              }
            }
          }
        }
      }
      a.clear-button {
        display: block;
        text-decoration: none;
        margin-top: 15px;
        padding-right: 20px;
        text-align: right;
        color: #FF6466;
        font-size: 0.9rem;
      }
    }
  }
}  
